@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hash</p>
    @if (ViewBag.hash != null) { <p>@(ViewBag.hash)</p>}



    <form method="post">
        <button type="submit" class="btn btn-outline-info" name="input1" value="1">Click on Me!</button>
    </form>




</div>
