@using CineTrackBE.Models.ViewModel
@model FilmViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Film.Name" class="control-label"></label>
                <input asp-for="Film.Name" class="form-control" />
                <span asp-validation-for="Film.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.Description" class="control-label"></label>
                <input asp-for="Film.Description" class="form-control" />
                <span asp-validation-for="Film.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.Director" class="control-label"></label>
                <input asp-for="Film.Director" class="form-control" />
                <span asp-validation-for="Film.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.Year" class="control-label"></label>
                <input asp-for="Film.Year" class="form-control" />
                <span asp-validation-for="Film.Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedGenresId">Genres</label>
                <select asp-for="SelectedGenresId" asp-items="@(new SelectList(Model.AllGenres, "Id", "Name"))" class="form-control" multiple id="genreSelect">
                </select>
                <span asp-validation-for="SelectedGenresId" class="text-danger"></span>
            </div>

            <div class="form-group d-flex my-3">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-right: 10px"/>
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
